<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>Ops...</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">

    <style>

        body {
            background: #f0f0f0;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #313131;
            font-size: 62.5%;
            line-height: 1;
        }

        .alert {
            border: 1px solid;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding: 5px;
        }

        .alert.alert-error {
            color: #b94a48;
            background-color: #f2dede;
            border-color: #eed3d7;
        }

        .text-center {
            text-align: center;
        }

        .p-15 {
            padding: 15px;
        }

        #view {
            display: block;
            max-width: 800px;
            margin: 0 auto;
            padding: 30px;
        }

    </style>

</head>
<body>

<div id="view">

    <h1 class="text-center">
        Internal Server Error
    </h1>

    <div class="alert alert-error text-center p-15">
        Something went wrong... :(
    </div>

</div>

</body>
</html>